<app-car-forms [car]="car" (saveEmitter)="save()" />

<div class="container mt-3 mb-5">
  <div class="display-6">Cars</div>
  <table class="table">
    <thead class="text-center">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Maker</th>
        <th>Price</th>
        <th>Year</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for (car of cars; track car.id) {
      <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.name }}</td>
        <td>{{ car.maker }}</td>
        <td>{{ car.price }}</td>
        <td>{{ car.year }}</td>
        <td>
          <button class="btn btn-success me-2" (click)="update(car)">Edit</button>
          <button class="btn btn-danger">Remove</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
