<div class="container p-4 bg-body-secondary rounded-4">
  <div class="display-6 mb-4">Car Register</div>
  <div class="row">
    <div class="col-md-12">
      <form #carForms="ngForm">
        <div class="row mb-3">
          <label for="name" class="col-sm-1 col-form-label">Name:</label>
          <div class="col-sm-11">
            <input [(ngModel)]="carForm.name" type="text" id="name" name="name" placeholder="car name"
              class="form-control" required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="maker" class="col-sm-1 col-form-label">Maker:</label>
          <div class="col-sm-11">
            <input [(ngModel)]="carForm.maker" type="text" id="maker" name="maker" placeholder="car maker"
              class="form-control" required />
          </div>
        </div>

        <div class="row mb-3">
          <label for="price" class="col-sm-1 col-form-label">Price:</label>
          <div class="col-sm-5">
            <input [(ngModel)]="carForm.price" type="number" id="price" name="price" placeholder="car price"
              class="form-control" required />
          </div>
          <label for="year" class="col-sm-1 col-form-label">Year:</label>
          <div class="col-sm-5">
            <input [(ngModel)]="carForm.year" type="number" id="year" name="year" placeholder="year of the car"
              class="form-control" required />
          </div>
        </div>

        <div class="row mt-4">
          <button class="p-1 btn btn-primary col-sm-3" (click)="save()" [disabled]="carForms.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
